body,html{
    /*overflow-y: auto !important;*/
}
#contenedor-principal{
    min-height: 300px;
}
.breadcums{
    background-color: #f2f2f2;
    position: relative;
    margin-left: 200px;
    font-size: 9px;
    padding-left:20px; 
}
input:focus, textarea:focus, select:focus{
    background-color: #DDEEFF;
}

.input-error{
    background-color: #FFDDDD;
}

.txtFooter{
    font-size: .6em;
}
.calendario{
    background-position: right center;
    background-image: url(../img/calendario.png);
    background-repeat: no-repeat;
    background-origin: content-box;
}
.horas{
    background-position: right center;
    background-image: url(../img/reloj.png);
    background-repeat: no-repeat;
    background-origin: content-box;
}
.tbl_labels{
    text-align: right;
    vertical-align: middle;
}

.fechaHeader{
    font-size: 0.7em;
    text-align: right;
}

/*Iconos*/
.ico{
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    color: #36b0c8;
    margin: 0 1px;
    
}
.ico:hover{ color: #64B5AC;}

.ico-requerido{ color: #970000; font-size: .5em; margin: 2px; vertical-align: middle;}

.borde { border: 1px solid #ccc;}

.editar{cursor: pointer;}

/*Tooltips*/
.custom-tooltips {
    background: #F8F7DC;
    padding: 5px 10px;
    color: #36B0C8;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: .8em;
    border: 1px solid #F8F7DC;
    border-radius: 4px;
    box-shadow: 0 0 7px #F8F7DC;
    -moz-box-shadow: 0 0 7px  #9F9F9F;
    -webkit-box-shadow: 0 0 7px  #9F9F9F;
}
.transparent_class {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 *//*
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}
/*Fin tooltip*/

.table .tbl-consecutivo{
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    vertical-align: middle;
    color: #bbb;
}

.title-color{
    color: #36B0C8;
}

/*Editable*/
.editable-container{
  width: 100%;
}
.editable-form {
    display: block;
    margin-bottom: 5px;  
}
.editable-form span {
    width: 120px;  
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
.chosen-container { min-width: 200px !important; }
/*O3M*/